@import "src/modules/scss/normalize_pc";
@import "./scss/func";

.container {
    background: #fff;
    min-width: 1160px;
    position: relative;
    margin:0 auto 350px;
}

.example {
    background: url('./img/example.jpg') no-repeat center;
    background-size: contain;
    min-height: 900px;
}
