@import "./func";

@mixin deco($img,$w,$h,$size:100%,$z:false) {
    display: block;
    background: url($img) center no-repeat;
    width: px2rem($w);
    height: px2rem($h);
    background-size: $size;
    @if ($z) {
        position: absolute;
        z-index: $z;
    }
}
