$dropDownTime: .37s;
@mixin boxShadow(){
	box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.35);
}
@mixin dropDownAnimate(){
	animation: menuSlideDown $dropDownTime cubic-bezier(0.02, 0.51, 0.42, 1);
}
@keyframes menuSlideDown {
	from {
		transform: translateY(-9px) scale(1,.98);
		opacity: .75;
	}
	to {
		transform: translateY(0) scale(1,1);
		opacity: 1;
	}
}@keyframes menuSlideLeft {
	from {
		transform: translateX(10px) scale(.95);
		opacity: .75;
	}
	to {
		transform: translateY(0) scale(1,1);
		opacity: 1;
	}
}
#header{
	background:#fff;
	min-width:1160px;
    position: relative;
    z-index:101;
	&:hover{
		box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.15);

	}
}
.header-top{
	background:#fff;
	border-bottom:solid 1px #eeeeee;
	padding:6px 0;
}

.header-top-nav{
	padding-top:6px;
}
.header-top-nav a{
	color:#9b9b9b;
}
.header-top-nav li{
	float:left;
	border-left:solid 1px #e5e5e5;
	padding-left:12px;
	margin-left:12px;
	line-height:24px;
	position: relative;
	&:hover{
		&> .qrcode-dropdown{
			display: block;
		}
	}
}
.qrcode-dropdown{
	display: none;
	position: absolute;
	z-index: 1008;
	top: 29px;
	left: 3px;
	height: 110px;
	width: 110px;
	@include boxShadow;
	@include dropDownAnimate;
}
.icon-wechat_hover{
	background:url(https://www.limin.com/modules/widget/footer/sy0_03.jpg) no-repeat top;

}
.icon-phone_hover{

	background:url(https://www.limin.com/modules/widget/footer/1479438058.png) no-repeat top;
}

.over-hidden_a{
	position: relative;
}
.ground_tips{
	background: url(https://www.limin.com/static/images/ground_tips.png) no-repeat left;
	height:9px;
	width: 9px;
	position: absolute;
	right:100px;
	top: 15px;
	z-index: 100;
}

.member-menu{
	width: 118px;
	display: block;
	&:hover{
		>.header{
			background:#238cbc;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			>a{
				color: #fff;
			}
			&:after{
				transform: rotate(180deg);
				border-top-color:#fff;
			}
		}
		>.member-dropdown-menu{
			display: block;
		}
	}
	.header {
		display: block;
		width: 93px;
		height: 37px;
		line-height: 37px;
		color: #238bcb;
		padding-left: 25px;
		border: 1px solid #238cbc;
		background: #fff;
		border-radius: 3px;
		cursor: pointer;
		position: relative;
		z-index: 102;
		box-sizing: content-box;
		&:after{
			content:' ';
			display: block;
			position: absolute;
			top: 17px;
			left: 86px;
			transition:transform #{$dropDownTime - .1s} ease;
			transform-origin: center 25%;
			width:0;
			height:0;
			border:5px solid transparent;
			border-top-color: #238bcb;
		}
		& > a {
			display: block;
			height:100%;
			color:#238bcb;
			&:active{
				transform: scale(.97);
			}
		}
	}
}
.member-dropdown-menu{
	display: none;
	@include boxShadow;
	z-index: 101;
	position:absolute;
	right: -2px;
	top: 38px;
	width: 118px;
	background: #fff;
	padding-bottom: 10px;

	box-sizing: content-box;
	border:1px solid #238bcb;
	border-radius: 0 0 3px 3px;
	@include dropDownAnimate;
	transform-origin: top;
	dd {
		height: 36px;
		text-align: center;
		background: url(https://www.limin.com/modules/widget/footer/line_home_a.png) no-repeat bottom;
		position: relative;
		&.last {
			background: none;
			color: #238bcb;
		}
		&:hover {
			color: #fff;
			background: #238bcb;
			margin-top: -1px;
			padding-top: 1px;
			box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.3);
			> a {
				color: #fff;
				font-size: 14px;
				border-bottom: none;
			}
		}
		> a {
			font-size: 14px;
			display: block;
			height: 35px;
			line-height: 35px;
			color: #238bcb;
			&:active{
				transform: scale(.97);
			}
		}

		.rig-pop {
			position: absolute;
			background: #ff9c00;
			width: 22px;
			height: 15px;
			line-height: 15px;
			font-size: 12px;
			text-align: center;
			color: #fff;
			left: 90px;
			top: 10px;
			border-radius: 6px;
		}
	}
}

.kefu-wraper{
	float:left;
	position:relative;
	padding:3px 0 0 30px;
	line-height:24px;
	color:#666666;
}
.kefu-wraper strong{
	color:#666666;
	font-weight: normal;
}
.kefu-wraper strong{
	color:#666666;
	font-weight: normal;
}

.qxgqdm{
  width: 108px;
  height: 28px;
	float:left;
	margin-left:30px;
}
.qxgqdm a{
	display:block;
	height:28px;
  background: url("gq.gif") no-repeat left center;

}
.qxgqdm a:hover{
	color:#fff;
}
.kefu-icon{
	width:22px;
	height:21px;
	top:5px;
	background-image:url(https://www.limin.com/static/icon/ic_head_hotline.png);
}

.header-top-nav a{
	display:block;
	position:relative;
}
.header-top .icon{
	left:0;
}
.icon-phone-wraper>a{
	padding-left:18px;
	cursor: default;
}
.icon-phone{
	width:12px;
	height:19px;
	top:2px;
	background-image:url(https://www.limin.com/static/icon/ic_head_phone.png);
}
.header-top-nav li.icon-wechat-wraper{
	border:none;
}
.icon-wechat-wraper>a{
	padding-left:30px;
	cursor: default;
}
.icon-wechat{
	width:23px;
	height:19px;
	top:2px;
	background-image:url(https://www.limin.com/static/icon/ic_head_wechat.png);
}

.header-nav-list{

}

.header-nav-list li{
	float:left;
	line-height:40px;
	height:54px;
	margin-right:30px;
	text-align:center;
	padding:0 6px;
	box-sizing: content-box;
}
.header-nav-list li a{
	font-size:16px;
	color:#333333;
	display:block;
	height:100%;
}
.header-nav-list li.current{
		border-bottom:3px #238bcb solid;
}

.header-nav-list li:hover{
	border-bottom: 3px lighten(#238bcb,40%) solid;
}
.header-nav-list li.current a{
	color:#238bcb;
}

.header-button p{
	float:left;
	width:86px;
}
.header_button_login{
	display:block;
	width:84px;
	border:solid 1px #0db4ff;
	text-align:center;
	line-height:37px;
	color:#0db4ff;
	border-radius:3px;
}

.header-nav-wraper{
	box-sizing: border-box;
	padding-top:22px;
	height:79px;
}